$main-color: skyblue;
$color-blue: dodgerblue;

/* ---------- General Modules ----------- */

.clearfix {
  zoom: 1
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.offScreen {
  background-color: #777373;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  position: absolute;
  clip: rect(0,0,0,0);
  font-size: 0;
  line-height: 0;
  &-text {
    font-size: 0;
    color: transparent;
    background-color: transparent;
    border: 0;
  }
}

.divider {
  height: 1px;
  width: 100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* ---------- basic setting----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #666;
  text-align: center;
  margin: 2% 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

/* ---------- layout control----------- */
.w-100 {
  height: 400px;
}

section {
  padding: 20px;
}

.rows {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

/* ---------- loading indicator ----------- */
.root {
  &--loading {
    &::after {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      content: "Loading...";
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
    }
  }
}

/* ---------- button setting ----------- */
.btn {

  /* dropdown button control */
  &-group {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 220px);
  }
  /* login/out button control */
  &__log {
    &--in {
      .root--authed & {
        display: none;
      }
    }
    &--out {
      display: none;
      .root--authed & {
        display: inline-block;
      }
    }
  }
}

/* ---------- navigation setting ----------- */
.nav {
  &bar { 
    position: sticky; 
    height: 68px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%; 
  }
  &-item:nth-child(2n) { width: 113px; } 
  &-tabs { margin-left: 30px; }
}
// navigation dropdown button 
.dropdown-menu { left: auto; }

// navigation dropdown button - login 
.login {
  &--required {
    .root--authed & {
      display: none;
    }
  }
  &--changed {
    display: none;
    .root--authed & {
      display: block;
    }
  }
}

/* ---------- cart setting ----------- */
.cart-icon {
  position: relative;
  &__i {
    font-size: 1.8rem;
    margin-left: 15px;
  }
}

.badge-circle {
  font-size: 1rem;
  background-color: red;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: -30%;
  left: 75%;
}

/* ---------- header carouser setting ---------- */
.main-header {
  display: grid;
  grid-template-areas: "cr one two" "cr three four";
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  width: 100%;
}
// 4개 광고 패널 컨트롤 
.events {
  overflow: hidden;
  position: relative;
  
  &-one { grid-area: one; }
  &-two { grid-area: two; }
  &-three { grid-area: three;}
  &-four { grid-area: four; }

  &-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
} 
// 큰 광고 패널 컨트롤
.carousel { grid-area: cr; }


/* ---------- new-products ----------- */
.new-products {
  position: relative;
  &-list {
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
  }
  &-items {
    width: 22%;
    text-align: center;
    box-shadow: 0 0 0 !important;
    border: 0;
    .p {
      font-size: 1.2rem;
    }
    img {
      height: 250px;
    }
    &__title {
      font-size: 1.3rem;
    }
    &__card {
      margin: 7px 0 0;
    }
  }
}

.list-group-item {
  border: 0;
  &__unitPrice {
    text-decoration: line-through;    
    margin-right: 10px;
    color: #999;
  }
  &__marketPrice {
    font-size: 1.2rem;
  }
  &__variants {
    display: inline-block;
    font-size: 1.1rem;
    width: 100px;
  }
}

/* ------------ Subscribes ----------- */
.subscribes {
  background-color: cornflowerblue;
  background-image: url("images/slide-1.jpg");
  background-repeat: no-repeat;
  text-align: center;
  button {
    font-size: 1.2rem;
  }
  input {
    width: 30%;
    vertical-align: bottom;
    margin-right: 10px;
  }
  &-form { padding: 20px 0 50px 0 ; }
}

/* ------------ Product Page ----------- */
// search bar
.search {
  &-control { margin-bottom: 15px; }
  &-bar { width: 300px; }
}

// product page 페이지 
.product-page {
  &__li {
    display: inline-block;
    width: 33% !important;
  }
  &__box {
    position: relative;
    text-align: center;
    border: 0;
  }
  &__title {
    font-size: 1.3rem;
  }
  &__card {
    margin: 7px 0 0;
    padding: 0 10px;
  }
}
// Image Box
.img {
  &-box {
    position: relative;
    margin: 0 auto;
    width: 90%;
    margin-top: 13px;
    // z-index: 2; 이미지 태그에 앵커 따로 걸 경우 해제!
    &__btn, &__dropdown {
      position: absolute;
      top: 80%;
      left: 60%;
    }
    &__dropdown {
      left: 35%;
    }
  }
  &-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__list {
      width: 31%;
      height: 100%;
      margin-top: 10px;
    }
  }
}

// 프로덕트 리스트 전체 앵커 걸기 
.link-to-product-detail {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* ------------ 제품 상세 페이지 ----------- */
.product {
  &-info-box {
    width: 70%;
    margin-top: 13px;
  }
  &-detail-page {
    &__sku {
      font-size: 0.9rem;
      color: #999;
    }
    &__title {
      font-size: 2.2rem;
      margin: 7px 0;
    }
  }
}

// 제품 상세 페이지 가격 인디케이터
.price {
  &-tab {
    display: inline-block;
    width: 150px;
    &:nth-child(2n) {
      width: 60px;
      background-color: #e9e9e9;
      text-align: right;
      font-weight: 600;
    }
  }
  &-subtotal {
    margin-top: 15px;
  }
  &-total {
    margin: 5px 0 15px 0;
    &__text, &__value {
      color: $color-blue;
      font-size: 1.2rem;
    }
  }
  &-tax__text {
    span {
      color: #999;
      font-size: 0.9rem;
    }
  }
}

// 수량, 색상, 사이즈 dropdown option controls
.option {
  &-list {
    font-size: 1.1rem;
    min-width: 200px;
  }
  &-quantity {
    border: 0;
    box-shadow: 0 0 0;
    padding: 0;
    height: auto;
  }
}

.field {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  &:first-child {
    margin-top: 20px;
  }
}

.input {
  width: 200px;
}

// 제품 상세 페이지 하단 탭 메뉴 컨트롤
.tab-content {
  width: 90%;
  margin: 40px auto;
}


/* --------- 카트 페이지 셋팅 DONT TOUCH ---------- */
.product-image { float: left; width: 20%; }
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-add { float: left; width: 9%; }
.product-removal { float: left; width: 9%; }

/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before { content: '$'; }

.group:before, .group:after {
    content: '';
    display: table;
} 
.group:after { clear: both; }
.group { zoom: 1; }

.shopping-cart, .column-labels, .product, .totals-item {
  @extend .group;
}

/* Column headers */
.column-labels {
  label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #999;
  }  
  .product-image, .product-details, .product-removal {
    text-indent: -9999px;
  }
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
  .product-image {
    text-align: center;
    img {
      width: 100px;
    }
  }  
  .product-details {
    .product-title {
      margin-right: 20px;
    }
    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  }  
  .product-quantity {
    input { width: 40px; }
  }  
  .add-product {
    border: 0;
    padding: 4px 8px;
    background-color: #00ff00;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    &:hover { background-color: #006400; }
  }
}

.remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  &:hover { background-color: #a44; }
}

/* Totals section */
.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }
    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }
}